@import "globals.scss";


div #units-wrapper {
  padding: 10px;
}

#units-wrapper {
  grid-area:content;

/* THEME */

  .game {
    background: lightgray;
    border-radius: 12px;
  }

  .per60 { fill: #bfbfbf; }

  span[sign="1"], [sign="1"] > .info .plusMinusTotal { color: lightgreen; }
  [sign="1"] > .games { fill: lightgreen; }

  span[sign="-1"], [sign="-1"] > .info .plusMinusTotal { color: #ffaaaa; }
  [sign="-1"] > .games { fill: #ffaaaa; }

  .info.data-labels {
    background: #eee;
    align-items: start;
  }
    .ancillary-label { font-size: 0.6em; color: #aaa;  }

  .info { font-family: sans-serif;}
  .per60Info { color: #bfbfbf; }
  .players { text-align: right; }


/* LAYOUT */

  span { float: right; }

  .data-labels.info {
    padding: 10px 0;
    margin: 40px 0 10px;
  }

  .unitsData {
    padding: 10px 0;
  }

  .unit {
    display: grid;
    grid-template-columns: minmax(5em, max-content) 1fr;
    grid-template-areas:
    'info games';

    margin: 5px 0;
  }

  .info {
    grid-area: info;

    display: grid;
    grid-template-columns: [players] minmax(5em, 16em) [pMT] minmax(2em, 3em) [per60] minmax(2em, 3em);
    grid-template-areas: 'players plusMinusTotal per60Info';

    grid-gap: 10px;
    justify-items: end;
    align-items: center;
  }

  .games {
    display: flex;
    margin-left: 10px; }

  .game {
    grid-area: games;

    display: flex;
    width: fit-content;
    min-width: 20px;
    height: 18px;

    margin: 2px;
    padding: 4px 8px;
  }

  .per60Info {
    grid-area: per60Info;
    text-align: right; }
  .plusMinusTotal { grid-area: plusMinusTotal; }
  .players { grid-area: players; }

  .pMData {
    display: inherit;
    margin-left: 6px;
  }

  .pMWhole {
    display: inherit;
    width: 18px;
    /* margin-left: 3px; */
    height: 18px;
  }

  svg { border-radius: 2px; }

  .pMData.pMFraction {
    height: 18px;
    width: 20px;
    /* margin-left: 3px; */
    /* display: flex; */
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
  }

  .pMData.sub-element.pMFraction {
    width: 2px;
    margin: 0 2px 1px 0;
    height: 8px;

    svg { border-radius: 6px; }
  }


   .pMFraction + .pMData { margin-left: 4px }

   .game > .pMData:first-child {
     margin-left: 0px;
   }

  form {
    margin-right: .5em;
    padding: .2em 0;
    font-family: sans-serif;

    label { margin-right: 1em; }

    button {
      font-size: .7em;
      margin-right: .3em; }

    input { width: 4em; }

    * {
      font-size: .8em;
      margin: inherit;
    }
  }
}
